<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <form action="/user" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      Nome <input type="text" name="nome">
      Sobrenome <input type="text" name="sobrenome">
      <button type="submit">Enviar</button>
   </form>

   <script src="../../public/assets/js/bundle.js"></script>
</body>
</html>